<div class="copy-action">
  {{#if (is-clipboard-supported)}}
    {{#copy-button class="btn btn-default copy-button"
      clipboardText=url
      success=(action "onSuccess")
      error=(action "onError")
    }}
      {{#if showSuccess}}
        COPIED!
      {{else}}
        {{url}}
      {{/if}}
    {{/copy-button}}

  {{else}}
    <div class="url-result" contentedible readonly>
      {{ url }}
    </div>
  {{/if}}
</div>

{{yield}}
