{{#if isFastBoot}}
  {{! put up a fake button so we don't get a flash while the clipboard initializes}}
  <button type="button" disabled class="btn btn-default copy-button">
    {{url}}
  </button>
{{else}}
  {{#if (is-clipboard-supported)}}
    {{#copy-button class="btn btn-default copy-button"
      clipboardText=url
      success=(action "onSuccess")
      error=(action "onError")
    }}
      {{#if showSuccess}}
        COPIED!
      {{else}}
        {{url}}
      {{/if}}
    {{/copy-button}}
  {{else}}
    <div class="copy-area">
      <a href={{url}}>{{url}}</a>
    </div>
  {{/if}}
{{/if}}
