<div class="url-creator-inner">
  <form class="url-creator-inputs">
    <section class="url-creator-title-info">
      {{input autofocus="autofocus" type="text" name="headline" value=headline placeholder="Your sensational news headline"}}

      {{#x-select value=category action=(action 'updateCategory') as |xs|}}
        {{#each categories as |c|}}
          {{#xs.option value=c}}
            {{c}}
          {{/xs.option}}
        {{/each}}
      {{/x-select}}
    </section>

    {{yield (hash selected=video)}}
  </form>

  {{line-separator}}

  {{copy-action url=url ready=ready}}
</div>
